/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  background: linear-gradient(180deg, #1c5380 40%, #fff 40%);
  margin-bottom: 2cm;
}

div.content {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

div.info {
  padding: 50px 60px;
  max-width: 600px;
  background-image: url(/images/frame.png);
  background-repeat: no-repeat;
}

div.logo-top-info {
  display: flex;
  align-items: center;
}

div.bottom-info div {
  display: flex;
  justify-content: space-around;
}

div.bottom-info {
  max-width: 400px;
}

footer{
  display: flex;
  text-decoration: center;
  justify-content: space-between;
  margin-top: 2cm;
  height: 1.5cm;
  justify-content: center;

}
li{
  display:flex;
  justify-content: space-evenly;
  color: navy;
  font-size: 0.75rem;
  justify-content: flex-end;
  align-items: center;
  font: arial-rounded;
  font-size: 0.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font: verdana;
  }

ul{
  display: flex;
  width: 610px;
  justify-content: space-between;
  
  

}
li:nth-child(9){
  color:grey;
}

@media (max-width:700px){
  .iPhone-image img{
    display:none;
  } 
  li:nth-child(9){
    display:none;
  }
  ul{
    width: 300px;
    margin-bottom: 4cm;
  }
  
}